.git
.git-credentials
.gnupg/
.ssh/
.pki/
.netrc
.pulse-cookie
.local/share/keyrings/
.mozilla/
.zen/
**/.config/Code - OSS/
**/.config/discord/
**/.config/google-chrome/
**/.config/.android/
**/.config/Google/
**/.config/JetBrains/
**/.config/obsidian/
**/.config/GIMP/
**/.config/Smart Code ltd/
**/.config/YouTube Music/
**/.config/go/
**/.config/dconf/
**/.config/pulse/
**/.config/Thunar/
**/.config/xournalpp/
**/.config/Electron/
**/.config/session/
**/.config/activitywatch/
**/.config/dconf/
**/.config/blender/
**/.config/astro/
**/.config/onlyoffice/
**/.config/htop/
**/.config/tmux/plugins/
**/.config/Blockbench/
**/.config/aseprite/
**/.config/sunshine/
**/.config/DigitalZen/
**/.config/audacity/
**/.config/autostart/
**/.config/rsjfw/
**/.config/Vieb/
**/.config/vlc/vlc-qt-interface.conf
**/.config/libreoffice/
**/.config/qimgv/
**/.config/GameMakerStudio2-Beta/
**/.config/mermaid-playground/
**/.config/r2modman/
**/.config/r2modmanPlus-local/
**/.config/Proton/
**/.config/Mullvad VPN/
**/.config/LosslessCut/
**/.config/unity3d/
**/.config/.wrangler/
**/.config/obs-studio/logs/
**/.config/obs-studio/profiler_data/
**/.config/obs-studio/updates/
**/.config/obs-studio/.sentinel/
**/.config/obs-studio/plugin_config/obs-websocket/
**/.config/obs-studio/plugin_config/rtmp-services/
**/.config/obs-studio/**/service.json
**/.config/obs-studio/**/*.bak
**/.config/uv/
**/.config/fish/
**/.config/.claude/settings.local.json
